annotated-types
anyio
cffi
charset-normalizer
click
cryptography
fastapi
greenlet
h11
httptools
idna
passlib
pdfminer.six
pycparser
pydantic
pydantic_core
PyJWT
python-dotenv
python-multipart
PyYAML
sniffio
SQLAlchemy
starlette
typing_extensions
uvicorn
uvloop
watchfiles
websockets
